<form class="w3-container w3-card-4 w3-padding-48 w3-display-middle " style="width:25%;height:40%" action="login" method="post">
    <label class="w3-label w3-text-teal"><b>Email</b></label>
    <input class="w3-input w3-border w3-light-grey" type="email" name="email" id="email">
    <label class="w3-label w3-text-teal"><b>Clave</b></label>
    <input class="w3-input w3-border w3-light-grey" type="password" name="clave" id="clave">
    <button class="w3-blue-grey w3-btn w3-block w3-section w3-ripple w3-padding">Iniciar session</button>
</form>